<div class="contact-us-section">
  <div class="contact-us-form">
      <h2>Do you have a question or want to become a seller?</h2>
      <p>Fill this form and our manager will contact you within the next 48 hours.</p>
      <input type="text" placeholder="Your Name">
      <input type="email" placeholder="Your email">
      <textarea placeholder="Your message"></textarea>
      <button type="submit">Submit</button>
  </div>
  <div class="contact-us-image">
      <img src="assets/images/Dboy.svg" alt="Delivery Boy">
  </div>
</div>
