<section class="hero-section">
    <div class="hero-background">
        <div class="hero-content">
            <div class="hero-text">
                <h1>Authentic Home food in India</h1>
                <p>JTGeats is a courier service in which authentic home cook food is delivered to a customer.</p>
                <div class="search-bar">
                    <input type="text" placeholder="Search food you love" id="search-input">
                    <button type="submit" id="search-button">Search</button>
                </div>
            </div>
            <div class="hero-image">
                <img src="../assets/images/hero.svg" alt="Person Cooking">
            </div>
        </div>
    </div>
</section>
