<div class="navbar-wrapper">
    <nav class="navbar">
        <div class="logo">
            <a href="#">JTGeats</a> 
        </div>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <div class="icons">
            <a href="#" class="search-icon">
                <img src="../assets/images/search-icon.svg" alt="Search">
            </a>
            <a href="#" class="bag-icon">
                <img src="../assets/images/bag-icon.svg" alt="Cart">
            </a>
        </div>
    </nav>
</div>


<div id="cartModal" class="cart-modal">
    <div class="cart-modal-content">
        <div class="cart-empty-message">
            <img src="../assets/images/Cart_Bag_icon.svg" alt="Empty Cart" class="empty-cart-icon">
            <h2>Cart is Empty</h2>
            <p>Add some items to the cart to checkout</p>
        </div>
        <button id="closeCart" class="close-cart-btn">Back to Menu</button>
    </div>
</div>