<button id="request-dish-button" class="request-dish-button">Request a Dish</button>

<!-- Modal Structure -->
<div id="request-dish-modal" class="request-dish-modal">
    <div class="request-dish-modal-content">
        <h2>Request a Dish</h2>
        <form id="request-dish-form">
            <p1>Dish name</p1>
            <input type="text" placeholder="Enter the name of the dish" id="dish-name" name="dish-name"  required>
            
            <p2>Upload an Image</p2>
            <textarea id="description" placeholder="Enter the URL" name="description" required></textarea>
           
            <div>
                <button type="button" id="cancel-request-button" class="cancel-request-button">Cancel</button>
                <button type="submit" class="submit-request-button">Submit</button>
                
            </div>
        </form>
    </div>
</div>
